# Dataset overview lsac

In [68]:
from __future__ import division
import pandas as pd
import numpy as np
import json
import os,sys
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import numpy as np

In [69]:
pd.options.display.float_format = '{:,.2f}'.format
dataset_base_dir = '../datasets/law_school/'
train_file = 'train.csv'
test_file = 'test.csv'

In [70]:
path_train = os.path.join(dataset_base_dir,train_file)
path_test = os.path.join(dataset_base_dir,test_file)

with open(path_train, "r") as train_fi:
    with open(path_test, "r") as test_fi: 
        train = pd.read_csv(train_fi, header=None)
        test = pd.read_csv(test_fi, header=None)
        df = train.append(test)
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.14,-0.73,63.00,676.32,3.00,4.00,37.00,2.50,No,Male,White,Passed
1,-1.48,0.00,69.00,681.58,3.00,2.00,31.00,3.50,No,Male,White,Failed_or_not_attempted
2,0.61,-0.09,69.00,718.95,4.00,2.00,34.00,3.40,No,Male,White,Passed
3,0.14,-0.50,66.00,942.63,5.00,3.00,45.00,3.90,No,Male,White,Passed
4,0.99,0.94,67.00,667.37,2.00,3.00,32.00,3.20,No,Male,White,Failed_or_not_attempted
...,...,...,...,...,...,...,...,...,...,...,...,...
7961,-0.26,-0.60,69.00,728.95,3.00,4.00,34.00,3.50,No,Female,White,Passed
7962,0.98,1.02,66.00,879.47,5.00,4.00,41.00,3.90,No,Male,White,Failed_or_not_attempted
7963,-0.92,-0.63,64.00,635.26,3.00,1.00,32.50,2.80,No,Female,Other,Passed
7964,1.30,1.47,68.00,763.16,4.00,4.00,33.00,4.00,No,Female,White,Passed
7965,-0.42,-0.53,69.00,769.47,3.00,4.00,41.00,2.80,No,Female,White,Passed

## General

In [71]:
print('Size')
size = len(df)
print(size)

print('No. features')
# nr_features = (df.loc[:, df.dtypes == 'object']).drop(df.columns[[6]], axis=1).nunique().sum()
nr_features = len(df.columns)
print(nr_features)

print('Protected features:')
print('Race, Sex')

print('Protected groups:')
print('{White, Black} x {Male, Female}')

print('Prediciton task:')
print('Pass bar exam?')

Size
26551
No. features
12
Protected features:
Race, Sex
Protected groups:
{White, Black} x {Male, Female}
Prediciton task:
Pass bar exam?

## Distribution of sex

In [72]:
print('Amount of Males:')
nr_males = (df[9] == 'Male').sum()
print(nr_males)

print('Percentage males:')
total_sex = len(df[9])
print(nr_males/total_sex)


print('Amount of Females:')
nr_females = (df[9] == 'Female').sum()
print(nr_females)

print('Percentage Females:')
print(nr_females/total_sex)

Amount of Males:
14873
Percentage males:
0.5601672253399119
Amount of Females:
11678
Percentage Females:
0.43983277466008813

## Distribution of race

In [73]:
print('Amount of White individuals:')
nr_white = (df[10] == 'White').sum()
print(nr_white)

print('Percentage White individuals:')
total_race = len(df[10])
print(nr_white/total_race)


print('Amount of Black individuals:')
nr_black = (df[10] == 'Black').sum()
print(nr_black)

print('Percentage Black individuals:')
print(nr_black/total_race)


print('Amount of Other individuals:')
nr_other = (df[10] == 'Other').sum()
print(nr_other)

print('Percentage Other individuals:')
print(nr_other/total_race)

Amount of White individuals:
21936
Percentage White individuals:
0.8261835712402547
Amount of Black individuals:
1790
Percentage Black individuals:
0.06741742307257731
Amount of Other individuals:
2825
Percentage Other individuals:
0.10639900568716809

## Distribution of passing for race

In [74]:
print('Amount of black people passing for race:')
nr_black_recid = ((df[10] == 'Black') & (df[11] == 'Passed')).sum()
print(nr_black_recid)

print('Percentage black passing for race:')
print(nr_black_recid/nr_black)


print('Amount of black people not passing for race:')
nr_black_n_recid = ((df[10] == 'Black') & (df[11] == 'Failed_or_not_attempted')).sum()
print(nr_black_n_recid)

print('Percentage black people not passing for race:')
print(nr_black_n_recid/nr_black)

Amount of black people passing for race:
1023
Percentage black passing for race:
0.5715083798882682
Amount of black people not passing for race:
767
Percentage black people not passing for race:
0.42849162011173186

In [75]:
print('Amount of white people passed:')
nr_white_recid = ((df[10] == 'White') & (df[11] == 'Passed')).sum()
print(nr_white_recid)

print('Percentage white passed:')
print(nr_white_recid/nr_white)


print('Amount of white people Failed_or_not_attempted:')
nr_white_n_recid = ((df[10] == 'White') & (df[11] == 'Failed_or_not_attempted')).sum()
print(nr_white_n_recid)

print('Percentage white people Failed_or_not_attempted:')
print(nr_white_n_recid/nr_white)

Amount of white people passed:
18164
Percentage white passed:
0.8280452224653537
Amount of white people Failed_or_not_attempted:
3772
Percentage white people Failed_or_not_attempted:
0.17195477753464625

## Distribution of passing for sex

In [76]:
print('Amount of males passed:')
nr_male_income = ((df[9] == 'Male') & (df[11] == 'Passed')).sum()
print(nr_male_income)

print('Percentage of males passed')
print(nr_male_income/nr_males)


print('Amount of males Failed_or_not_attempted:')
nr_male_2_income = ((df[9] == 'Male') & (df[11] == 'Failed_or_not_attempted')).sum()
print(nr_male_2_income)

print('Percentage of males Failed_or_not_attempted:')
print(nr_male_2_income/nr_males)

Amount of males passed:
11943
Percentage of males passed
0.8029987225173133
Amount of males Failed_or_not_attempted:
2930
Percentage of males Failed_or_not_attempted:
0.19700127748268675

In [77]:
print('Amount of females passed')
nr_female_income = ((df[9] == 'Female') & (df[11] == 'Passed')).sum()
print(nr_female_income)

print('Percentage of females passed')
print(nr_female_income/nr_females)


print('Amount of females Failed_or_not_attempted')
nr_female_2_income = ((df[9] == 'Female') & (df[11] == 'Failed_or_not_attempted')).sum()
print(nr_female_2_income)

print('Percentage of females Failed_or_not_attempted')
print(nr_female_2_income/nr_females)

Amount of females passed
9325
Percentage of females passed
0.7985100188388423
Amount of females Failed_or_not_attempted
2353
Percentage of females Failed_or_not_attempted
0.20148998116115774